body {
  font-family: sans-serif;
  background-color: black;
  color: #FF9900;
}

.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  /* border: solid white 1px; */
}

.card-container {
  border: solid white 1px;
}

.column {
  border: solid white 1px;
}

.card {
  margin: 20px;
  width: 100px;
  height: 50px;
  border: solid white 1px;
  border-radius: 30px;
  padding: 1.5rem;
}

.banner {
  background-color: gray;
  padding: 3%;
  text-align: center;
}
